<section class="sidebar">
    <div class="app-header">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ asset('bundles/flowercore/images/icons/Bank-100.png') }}"
                     class="img-responsive pull-left" width="40">
                <span>
                    {{ 'finances'|trans|title }}
                </span>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu">

        <li {% if app_dashboard is defined %}class="active"{% endif %}>
            <a href="{{ path('finance_dashboard') }}">
                {{ 'dashboard'|trans({}, 'Finance')|title }}
            </a>
        </li>

        <li class="treeview {% if app_incomes is defined %}active{% endif %}">
            <a href="#">
                <span>
                    {{ 'incomes'|trans({}, 'Finance')|title }}
                </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li {% if app_customer_invoices is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_document_ci') }}">
                        {{ 'customer_invoices'|trans({}, 'Finance')|capitalize }}
                    </a>
                </li>
                <li {% if app_income_payment is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_payment') }}">
                        {{ 'customer_payments'|trans({}, 'Finance')|title }}
                    </a>
                </li>
            </ul>
        </li>

        <li class="treeview {% if app_expenses is defined %}active{% endif %}">
            <a href="#">
                <span>
                    {{ 'expenses'|trans({}, 'Finance')|title }}
                </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li {% if app_supplier_invoices is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_document_si') }}">
                        {{ 'supplier_invoices'|trans({}, 'Finance')|capitalize }}
                    </a>
                </li>
                <li {% if app_expense_payment is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_payment') }}">
                        {{ 'supplier_payments'|trans({}, 'Finance')|title }}
                    </a>
                </li>
                <li {% if app_expense_payment is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_payment_simple_expense') }}">
                        {{ 'simple_expense_payment'|trans({}, 'Finance')|title }}
                    </a>
                </li>
            </ul>
        </li>


        <li class="treeview {% if app_accounting is defined %}active{% endif %}">
            <a href="#">
                <span>
                    {{ 'accounting'|trans({}, 'Finance')|title }}
                </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li {% if app_general_ledger is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_report_general_ledger') }}">
                        {{ 'general_ledger'|trans({}, 'Finance')|title }}
                    </a>
                </li>
                <li {% if app_journal_entries is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_journal_entry') }}">
                        {{ 'journal_entries'|trans({}, 'Finance')|title }}
                    </a>
                </li>
                <li {% if app_transaction is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_transaction') }}">
                        {{ 'transactions'|trans({}, 'Finance')|title }}
                    </a>
                </li>
                <li {% if app_accounts is defined %}class="active"{% endif %}>
                    <a href="{{ path('finance_account') }}">
                        {{ 'accounts'|trans({}, 'Finance')|title }}
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</section>