{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}Document - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerFinancesBundle::appnav.html.twig", { 'app_document': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('finance_document_si') }}">
                {{ 'supplier_invoices'|trans({}, 'Finance')|title }}
            </a>
        </h1>
    </section>
    <section class="content">
        <div class="box" id='showDocument'>
            <div class="box-header">
                <h3 class="box-title">
                    {{ 'supplier_invoice' | trans({}, 'Finance')|capitalize }} #{{ document.id }}
                    {{ include('FlowerFinancesBundle:Document:invoice_status.html.twig', {'status':document.status}) }}
                </h3>
                <div class="box-tools  pull-right">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}

                    <div class="btn-group record_actions">
                        <button class="btn btn-link btn-sm"
                                type="submit"> {{ 'Delete'|trans({}, 'Finance') }}</button>
                        <input name="modal" type="hidden" value="0">

                        <a class="btn btn-link btn-sm" onclick="showEdit(true)">
                            {{ 'Edit'|trans({}, 'Finance') }}
                        </a>
                        <a class="btn btn-link btn-sm"
                           href="{{ path('finance_document_si_payments_new',{'id':document.id}) }}">
                            {{ 'Add payment'|trans({}, 'Finance') }}
                        </a>
                    </div>
                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}

                </div>
            </div>
            <div class="box-body">
                <h4>
                    {{ 'supplier'|trans({}, 'Product')|title }}: {{ document.supplier }}
                </h4>

                <h4>Detalle</h4>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>{{ 'details' }}</th>
                        <th>unidades</th>
                        <th>precio unitario</th>
                        <th>total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in document.items %}
                        <tr>
                            <td>
                                {% if item.service %}
                                    {{ item.service }}
                                {% else %}
                                    {{ item.product }}
                                {% endif %}
                            </td>
                            <td>{{ item.units }}</td>
                            <td>{{ item.unitPrice }}</td>
                            <td>{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-6">
                        <h4>{{ 'Totals'|trans({}, 'Finance') }}</h4>
                        <table class="table table-condensed table-bordered">
                            <tbody>
                            <tr>
                                <th scope="row">{{ 'Discount'|trans({}, 'Finance') }}</th>
                                <td>{{ document.discount }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Totaldiscount'|trans({}, 'Finance') }}</th>
                                <td>{{ document.totalDiscount }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Tax'|trans({}, 'Finance') }}</th>
                                <td>{{ document.tax }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ 'Totalwithtax'|trans({}, 'Finance') }}</th>
                                <td>{{ document.totalWithTax }}</td>
                            </tr>
                            <tr class="bg-gray">
                                <th scope="row">{{ 'Total'|trans({}, 'Finance') }}</th>
                                <td>
                                    <strong>{{ document.total }}</strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <h4>{{ 'payments'|trans({}, 'Finance')|title }}</h4>
                        {{ 'pending to pay'|trans({}, 'Finance')|title }}: {{ document.getBalance() }}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>fecha</th>
                                <th>monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in document.payments %}
                                <tr>
                                    <td>{{ payment.id }}</td>
                                    <td>{{ payment.date|date }}</td>
                                    <td>{{ payment.amount }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">No payments yet</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="box-footer">

            </div>
        </div>
        <div class="box" id='editFormDocument' style="display: none;">
            <div class="box-header">
                <div class="box-tools">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}
                    <div class="btn-group record_actions">
                        <button class="btn btn-link btn-sm"
                                type="submit"> {{ 'Delete'|trans({}, 'Finance') }}</button>
                        <a class="btn btn-link  btn-sm" onclick="showEdit(false)">
                            {{ 'Cancel'|trans({}, 'Account') }}
                        </a>
                    </div>
                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <div class="box-body">

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <p>
                    <button class="btn-default btn" type="submit">{{ 'save'|trans | capitalize }}</button>
                </p>
                {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">
            </div>
        </div>


    </section>

    <div class="btn-group record_actions"></div>

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'Finance') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'Finance') }}
                        , {{ 'this procedure is irreversible'|trans({}, 'Finance') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'Finance') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'Finance') }}</button>
                    <button class="btn btn-default"
                            data-dismiss="modal">{{ 'No'|trans({}, 'Finance') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        function showEdit(show) {
            if (show) {
                $('#showDocument').hide();
                $('#editFormDocument').show();
            } else {
                $('#showDocument').show();
                $('#editFormDocument').hide();
            }
        }

    </script>
{% endblock %}