{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Transaction'}, 'Transaction') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerFinancesBundle::appnav.html.twig", { 'app_accounting': true, 'app_transaction':true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('finance_transaction') }}"> {{ '%entity% list'|trans({'%entity%': 'Transaction'}, 'Transaction') }}</a>
            /
            {{ 'Transaction' | trans({}, 'Transaction') }}
        </h1>

    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                {{ form_start(form, {action: path('finance_transaction_create')}) }}
                {{ form_row(form.description) }}
                {{ form_row(form.date) }}

                <div class="form-group">

                    {{ form_label(form.journalEntries) }}

                    <div class="col-sm-10">
                        <div class="raw-materials" id="contentMaterials">
                            {% for entry in form.journalEntries %}
                                <div class="form-group raw-materials">
                                    <div class="col-sm-3">
                                        {{ form_widget(entry.account) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(entry.debit) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(entry.credit) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_widget(entry.date) }}
                                    </div>
                                    <div class="col-sm-1">
                                        <button>
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="hidden" id="productRawMaterialTemplate">
                    <div class="form-group reminders">
                        <div class="col-sm-3 field"
                             data-prototype="{{ form_widget(form.journalEntries.vars.prototype.account)|e }}">
                        </div>
                        <div class="col-sm-2 field"
                             data-prototype="{{ form_widget(form.journalEntries.vars.prototype.debit)|e }}">

                        </div>
                        <div class="col-sm-2 field"
                             data-prototype="{{ form_widget(form.journalEntries.vars.prototype.credit)|e }}">
                        </div>
                        <div class="col-sm-3 field"
                             data-prototype="{{ form_widget(form.journalEntries.vars.prototype.date)|e }}">
                        </div>
                        <div class="col-sm-2 tools">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button class="btn btn-success" type="submit">
                            {{ 'save'|trans | capitalize }}
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">

            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var tagARemove = '<button href="#" class="btn btn-link btn-sm">{{ "remove" | trans({}, "Finance") }}</button>'
        var tagAAddOther = '<div class="col-sm-2 col-xs-offset-2"><button href="#" class="btn btn-default btn-xs add_tag_link">{{ "add_journal_entries" | trans({}, "Finance") }}</button></div>'
    </script>
    <script src="{{ asset('bundles/flowerfinances/js/transactionItems.js') }}"></script>
{% endblock %}