{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'JournalEntry'}, 'JournalEntry') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('finance_journal_entry_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'JournalEntry') }}
                    <i class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('finance_journal_entry_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'JournalEntry') }}
                    <i class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('finance_journal_entry_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'JournalEntry') }}
                <i class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}

{% block app_menu %}
    {{ include("FlowerFinancesBundle::appnav.html.twig", { 'app_accounting': true, 'app_journal_entries':true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ '%entity% list'|trans({'%entity%': 'JournalEntry'}, 'JournalEntry') }}
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="box-tools pull-right"><a class="btn btn-link btn-sm"
                                                     href={{ path('finance_journal_entry_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'JournalEntry'}, 'JournalEntry') }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover records_list table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">{{ thead('journalentry', 'id', 'Id') }}</th>
                        <th scope="col">{{ thead('journalentry', 'account', 'Account') }}</th>
                        <th scope="col">{{ thead('journalentry', 'debit', 'Debit') }}</th>
                        <th scope="col">{{ thead('journalentry', 'credit', 'Credit') }}</th>
                        <th scope="col">{{ thead('journalentry', 'date', 'Date') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for journalentry in paginator %}
                        <tr>
                            <td>
                                <a href="{{ path('finance_journal_entry_show', {id: journalentry.id}) }}">{{ journalentry.id }}</a>
                            </td>
                            <td>{{ journalentry.account }}</td>
                            <td>{{ journalentry.debit }}</td>
                            <td>{{ journalentry.credit }}</td>
                            <td>{% if journalentry.date %}{{ journalentry.date|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}
