{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Account'}, 'Account') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerFinancesBundle::appnav.html.twig", { 'app_accounting': true, 'app_accounts':true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('finance_account') }}"> {{ '%entity% list'|trans({'%entity%': 'Account'}, 'Account') }}</a>
            /
            {{ 'Account' | trans({}, 'Account')}}
        </h1>

    </section>        
    <section class="content">
        <div class="box">
            <div class="box-body">
                {{ form_start(form, {action: path('finance_account_create')}) }}
                    {{ form_widget(form) }}
                    <p>
                        <button class="btn-default btn" type="submit">{{ 'save'|trans | capitalize}}</button>
                    </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">
                        
        <div class="btn-group record_actions"></div>

            </div>
        </div>
    </section>
{% endblock %}
